/node_modules/
dist/assets/js/main.js
/src/assets/js/utils/vendor/i18n/*
!/src/assets/js/utils/vendor/i18n/translation-template_v1.pot
*configConstants*
*.*~
.DS_Store
**/.DS_Store
package-lock.json
.vscode/