.audit-scan-left{
	flex-grow: 28;
	padding-right:15px;
	display: flex;
	flex-flow:column;
	align-items:center;
}

.audit-scan-middle{
	flex-grow:48;
	padding-right:15px;
	display: flex;
	flex-flow:column;
}

.audit-scan-right{
	flex-grow:24;
	display: flex;
	flex-flow:column;
}