.binMapWrapper{
	border: 3px solid #9D9FA2;
    min-height: 110px;
    width: 110px;
    padding: 2px;
    position: absolute;
    left: 0;
    top: 110px;
	.col1{
		display: inline-block;
		width:22%;
		ul{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    font-size: 100%;
		    vertical-align: baseline;
		    background: transparent;
		}
		li{
			background: red;
		    display: block;
		    overflow: hidden;
		    height: 22px;
		    width: 22px;
		    margin-top: 3px;
		}
	}
	.col2{
		display: inline-block;
		width:55%;
	}
	.col3{
		display: inline-block;
		width:22%;
		ul{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: 0;
		    font-size: 100%;
		    vertical-align: baseline;
		    background: transparent;
		}
		li{
			background: red;
		    display: block;
		    overflow: hidden;
		    height: 22px;
		    width: 22px;
		    margin-top: 3px;
		}
	}
	ul{
		list-style:none;
	}
}