.main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    .grid-container {
        padding-top: 3.75em;
        padding-bottom: 3.75em;
        padding-left: 3.75em;
        padding-right: 3.75em;
        display: flex;
        order: 1;
        flex-flow: column;
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        max-height: 100%;
        .main-container{
            position: relative;
            display: flex;
            flex-flow:row;
            justify-content: center;
            flex-grow:1;
            flex-shrink:1;
            width: 100%;
            max-height: 100%;
        }
    }
}
