.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        order: 1;
        margin-left: 2.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .keyboard-actions {
        order: 2;
        margin: 0 70px 0 auto; //0 6% 0 auto;
        input[type='text'] {
            display: none;
        }
        span {
            font-size: 2em;
            color: @passive-nav-bck;
        }
        &.hide-manual-barcode {
            display: none;
        }
    }
    .header-actions {
        order: 3;
        padding-right: 2.5em;
    }
}
