.centerAlign {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.rightWrapper {
    display: flex;
    flex-flow:column;
    align-items: center;
    justify-content: center;
    flex:0 0 12.5%;
    align-items:center;
    margin-right: 5%;
    margin-left: 5%;

    .product-details-wrapper{
        border:1px solid @kq-border-color;
        margin-bottom:25px;
        .view-more-link{
            flex:1.5 0 0;
            display:flex;
            justify-content:center;
            align-items:center;
            background:@passive-nav-bck;
            font-size:1.8rem;
                span{
                    color:#fff;
                    margin-right:10px;
                }
                i{
                    color:#fff;
                }        
        }
        .img-container{
            display:flex;
            justify-content:center;
            align-items:center;
            flex:9 0 auto;
            width:100%;
            img{
                max-width:100%;
            }
        }
    }

    .kq-wrapper {
        a {
            flex:1.5 0 0;
            display:flex;
            justify-content:center;
            align-items:center;
            border: 1px solid @kq-border-color;
            font-size:@font-size-body-medium;
            &:hover, &:focus{
                text-decoration:none;
            }
            &.enable{
                color:@btn-default-bck;
            }
            &.disable{
                color: @kq-arrow-disabled;
            }
        }
        #textbox{
            flex:4 0 0;
            display:flex;
            justify-content:center;
            align-items:center;
            border-left: 1px solid @kq-border-color;
            border-right: 1px solid @kq-border-color;
            font-size: @font-size-body-kq;            
            #keyboard {
                background: #fff;
                border: none;  
                color:@kq-number;
                width:100%;
                border-radius:0;
                padding:0;
            }             
        }
    }

    .product-details-wrapper, .kq-wrapper {
        flex:1 0 0;
        width:100%;
        display:flex;
        flex-flow:column;
    }
}

div.ui-keyboard, div.ui-widget-content, .ui-widget{
    background: @text-color;
    padding:3px;
    border-radius: 0;
    .ui-keyboard-preview-wrapper{
        border:2px solid @text-color;
        text-align: left;
        .ui-widget-content, .ui-corner-all, .ui-keyboard-preview{
            width:100% ;
            margin:0 ;
            border-radius:0;
            height:6vh;
            background:#fff;
            font-size:1.6rem;
            color:@kq-number;
        }
    }
    .ui-keyboard-keyset, .ui-keyboard-keyset-normal{
        text-align: center;
        .ui-keyboard-button, .ui-state-default, .ui-corner-all{
            background-color: #fff;
            color: @kq-number;
            border: 3px solid @text-color;
            border-radius: 5px;
            margin:0;
            width:70px;
            height:60px;
            font-weight:normal;

            span{
                font-size:@font-size-body-small;
            }
        }
        .ui-keyboard-accept{
            width:50%;
            font-weight:bold;
        }
        .ui-keyboard-cancel{
            width:50%;
            font-weight:bold;
        }
    }
             
}
.ui-keyboard.custom-keypad {
    .ui-keyboard-preview-wrapper {
        input{
            color:@kq-number;
        }
    }   
    .ui-keyboard-keyset{
        button {
            width:60px;
            height:50px;
            span{
                font-size:1.8rem;
            }

            &.ui-keyboard-accept, &.ui-keyboard-cancel{
                width:15%;
                font-weight:400;
            }
            &.ui-keyboard-space{
                width:70%;
            }
            &.ui-keyboard-shift{
                width:100px;
            }
        }
    }
}

