.listItems{
	padding: 15px;
	.ItemContainer{
		padding: 15px;
		border-top: 1px solid #ccc;
		.itemName{
		font-size: 2.1rem;
		text-align: center;
		}
		.itemImage{
			width: 170px;
			margin: auto;
		}
		.itemPrice{
			text-align: center;
			font-size: 1.5rem;
		}
		.itemDescription{
			word-wrap: break-word;
		}
	}
	
}