.contentWrap{
	.discardIcon{
		background: url(../images/ic-box-in-bin.svg) no-repeat;
	    background-position: 60px 0px;
	    width: 80%;
	    height: 233px;
	    margin:auto;

	}
	.discard-action{
		width:50%;
		margin:auto;
		margin-top:20px;
	}
	.message{
		font-size: 18px;
	    width: 90%;
	    text-align: center;
	    margin: auto;
	}
}