.productTableInfo {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-left: 3%;

    .table-wrapper {
        flex: 1 0 0;
        width: 100%;
        overflow-y: auto;
        tbody {
            tr {
                td {
                    background: @product-table-bck;
                    color: #1a252d;
                    padding: .6em 1.5em;
                    font-size: 1.5rem;
                    &:first-child {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    .productHeader {
            background: @product-header-bck;
            color: @body-bg;
            //flex: 1.5 0 0;
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 1em;
            font-size: 2.2rem;
        }
}

.productImage {
        border: 1px solid @kq-border-color;
        flex: 1 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex-grow:1;
        flex-basis:0;
        img {
            flex: 9 0 auto;
        }
        
    }
 
