.p-put-details{
	border: 4px solid #9C9EA0;
    box-sizing: border-box;
    position:relative;
    top:320px;
    max-width:150px;
    .p-put-head{
    	background: #9C9EA0;
	    color: #fff;
	    text-align: center;
	    padding: 4px;
	    font-size: 15px;
    }
    .p-put-content{
    	padding: 5px 10px;
    	color: #53555A;
        word-wrap: break-word;
    	p{
    		margin:0;
    	}
    	.p-put-key{
    		line-height:20px;
            color: #4F5156;
            font-weight:bold;
    	}
    	.p-put-value{
    		line-height:20px;
    	}
    }
}
.customize_WaitingForMsu{
	position:absolute;
	left:0px;
	top:0px;
}