.tabular-data {
   /* -webkit-box-shadow: 0px 7px 5px 1px rgba(220, 220, 220, 1);
    -moz-box-shadow: 0px 7px 5px 1px rgba(220, 220, 220, 1);
    box-shadow: 0px 7px 5px 1px rgba(220, 220, 220, 1);*/
    margin-bottom: 10px;
    flex-grow:1;
    flex-basis:0;
    display: flex;
    flex-flow:column;
    width: 100%;
    .overflow{
        flex-grow:1;
        flex-basis:0;
        overflow-y: auto;
    }
    &.double{
        flex-grow:2;
    }
    &.triple{
        flex-grow:3;
    }
    .table-header {
        background: @product-header-bck;
        padding: 0.3em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        font-size: @font-size-body-medium;
        color: white;
        font-weight: bold;
    }
}